---

---

<footer class="w-full py-1 pb-10 md:pb-12 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto px-4">
    <div class="pt-4">
      <p class="text-center text-sm text-[var(--white-icon)] space-y-2">
        <!-- If you are using this template, by MIT License you can't remove the copyright notice -->
        <span class="block sm:inline"
          >Copyright © 2026 <span class="text-[var(--sec)] shiny-sec"
            ><a href="https://github.com/aanharits">aanharits</a></span
          >
          .</span
        >
      </p>
    </div>
  </div>
</footer>
